/.settings/
/.vscode/
/bots/
/Makefile
/config.log
/config.status
/Release/
/autom4te.cache/
/build/
/pingpong_bouncer
/pingpong_sender
/distfiles/
ppl7/include/stamp-*
ppl7/include/ppl7-config.h
ppl7/include/config_ppl7.h
/*.gz
