################################################################
# Name:      Specfile for dnsperftest_agent
# Author:    Patrick Fedick <patrick@pfp.de>
################################################################
%define name dnsperftest_agent
%define version @VERSION@
%define release @RPM_RELEASE@
%define source @SOURCE@

%define myprefix /

Summary: Remote agent for dns performance testing
Name: %{name}
Version: %{version}
Release: %{release}

License: unknown
Group: Application
# URL: 

BuildRoot: %{_tmppath}/%{name}-buildroot
Prefix: %{myprefix}
AutoReqProv: yes

%description
This package is part of the dnsperftest suite and contains the remote agent. It can
generate load and collects various data from the system it is running on.

%prep


%pre


%install
install -d -m 755 $RPM_BUILD_ROOT/usr/bin
install -d -m 755 $RPM_BUILD_ROOT/usr/share/doc/dnsperftest
install -m 755 %{source}/dnsperftest_agent $RPM_BUILD_ROOT/usr/bin
install -m 755 %{source}/dnsperftest.conf.example $RPM_BUILD_ROOT/usr/share/doc/dnsperftest

%post



%preun


%clean


%files
%defattr(-,root,root)
/usr/bin/dnsperftest_agent
/usr/share/doc/dnsperftest/dnsperftest.conf.example

%changelog
